*.class
*.os
*.pyc

*.log
logs/
temp/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

dist/
build/
out/

.metadata
.classpath
.project
.settings/
*.launch
bin/
.externalToolBuilders/

.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-debug/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store
Thumbs.db
eh_desktop.ini
$RECYCLE.BIN/

# src/main/webapp/WEB-INF/lib/